* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/*----------------------------
      MAIN SLICK SLIDER
------------------------------*/

.wrapper {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slick-slider {
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.main-slider {
  position: relative;
}

/* Customizing Arrows */

.main-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: 0px 0px 0px 0px;
  z-index: 4;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.main-slider .slick-arrow.slick-prev {
  left: 30px;
}

.main-slider .slick-arrow.slick-next {
  right: 60px;
}

.main-slider .slick-arrow.slick-prev:before {
  font-size: 40px;
  fill: #ffffff;
  padding: 0px 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.868);
  z-index: 4;
  cursor: pointer;
}

.main-slider .slick-arrow.slick-next:before {
  font-size: 40px;
  fill: #ffff;
  padding: 0px 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.868);
  z-index: 4;
  cursor: pointer;
}

/* Customizing Dots */

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  font-size: 50px;
  color: #00fff2;
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: #ff0099;
  opacity: 1.5;
}

.main-slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider__item {
  padding: 0px 0px;
}
.slider__item img {
  width: 100%;
  height: 600px;
}

/*----------------------------
        SLICK SLIDER
------------------------------*/

.container-2 .wrapper {
  height: 50%;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slick-slider {
  min-width: 0;
}

.slider .slick-slide {
  padding: 10px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.slider {
  position: relative;
}

/* Customizing Arrows */

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: 0px 0px 0px 0px;
  z-index: 4;
  font-size: 0;
  width: 30px;
  height: 30px;
}

.slider .slick-arrow.slick-prev {
  left: 30px;
}

.slider .slick-arrow.slick-next {
  right: 60px;
}

.slider .slick-arrow.slick-prev:before {
  font-size: 40px;
  fill: #ffffff;
  padding: 0px 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.868);
  z-index: 4;
  cursor: pointer;
}

.slider .slick-arrow.slick-next:before {
  font-size: 40px;
  fill: #ffffff;
  padding: 0px 10px;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.868);
  z-index: 4;
  cursor: pointer;
}

/* Customizing Dots */

.slick-dots {
  bottom: 15px;
}

.slick-dots li button:before {
  font-size: 50px;
  color: #00fff2;
  opacity: 0.7;
}

.slick-dots li.slick-active button:before {
  color: #ff0099;
  opacity: 1.5;
}

.slider .slick-arrow.slick-disabled {
  opacity: 0.2;
}

.slider .slider__item {
  background-color: #f2f2f2;
  height: 250px;
  /* border: 60px solid white; */
  z-index: 0;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgba(158, 156, 156, 0.285);
}

.slider .slider__item:before {
  content: "";
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -85px 0px 0px -75px;
  background: #f2b1d8;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-in;
}

.slider__item:hover:before {
  transform: scaleX(3) scaleY(3) scaleZ(10);
  /* transform: scale(2); */
  cursor: pointer;
}

.slider .slider__item p {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  z-index: 4; 
  transition: all 0.3s ease-out;
  position: relative;
}

.subject {
  width: 150px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -85px 0px 0px -75px;
}

.slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin: 0px -100px 0px -80px;
  z-index: 4;
}

.slider .slick-arrow.slick-prev:before{
  padding: 0px;
  background-color: transparent;
}

.slider .slick-arrow.slick-next:before{
  padding: 0px;
  background-color: transparent;
}

.slider .slick-prev:before, .slider .slick-next:before{
  color: #0a4a47;
}

.slider .slick-prev:before{
  content: "\1F828";
}

.slider .slick-next:before{
  content: "\1F82A";
}

.circle img{
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}

/*-----------------------------
        MEDIA QUERY
-------------------------------*/

@media (min-width: 2000px) {
  .slider__item img{
    height: 800px;
  }
}

@media (max-width: 800px) {
  .slider__item img{
    height: 400px;
  }
}

@media (max-width: 550px) {
  .slider__item img{
    height: 300px;
  }
}