*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav{
    background-color: rgb(24, 1, 64);
    overflow: hidden;
}

li{
    float: left;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}

li:hover{
    background-color: black;
    transition: ease-in-out 0.3s;
}

li.active, li.active:hover{
    background-color: rgb(2, 93, 135);
}

.checkbtn{
    float: right;
    color: white;
    padding: 15px 20px;
    display: none;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

#check{
    display: none;
}

@media (max-width: 600px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        background-color:rgb(24, 1, 64);
        top: 50px;
        top: -100%;
        z-index: -1;
        text-align: center;
        transition: all .5s;
    }

    li{
        float: none;
        display: block;
    }

    li:hover{
        background-color: black;
        transition: ease-in-out 0.3s;
    }
    
    li.active, li.active:hover{
        background-color: rgb(2, 93, 135);
    }

    #check:checked ~ ul{
        top: 50px;
    }
}